{
  "presets": [
    "env",
    "flow",
    "react",
    "stage-2",
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-function-bind",
    "transform-object-rest-spread",
  ]
}
