language: node_js
node_js:
  - "10"

os:
- linux
- osx

dist: trusty
osx_image: xcode8.3
sudo: false

notifications:
  email: false

cache:
  yarn: true

addons:
  apt:
    packages:
    - fakeroot
    - rpm

branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+/

install:
- if ! $TRAVIS_PULL_REQUEST && [ $TRAVIS_OS_NAME = osx ]; then
    security create-keychain -p mynotsecretpassword build.keychain;
    security default-keychain -s build.keychain;
    security unlock-keychain -p mynotsecretpassword build.keychain;
    security import cert/solminer.p12 -k build.keychain -P "$SOLMINER_P12_PASSWORD" -T /usr/bin/codesign;
    security find-identity -v;
  fi
- yarn

script:
- npm run lint
- if [ -z $TRAVIS_TAG ]; then
    if [ $TRAVIS_OS_NAME = linux ]; then
      npx semantic-release;
    fi;
    npm run make;
  else
    npm version $TRAVIS_TAG --no-git-tag-version;
    npm run publish;
  fi
