language: node_js
node_js:
  - "10"

os:
- linux
- osx

dist: trusty
osx_image: xcode8.3
sudo: false

notifications:
  email: false

cache:
  yarn: true

addons:
  apt:
    packages:
    - fakeroot
    - rpm

branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+/

install: yarn
script: ci/travis-script.sh
