@import "~styles/vars";

.track {
  border-radius: 3px;
  height: 4px;
  width: 100%;
  background-color: $white,
}

.thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $primary;
}
