$black: #000;
$white: #fff;
$primary: #00ffad;
$grey: #979797;
$dark-grey: #202020;
$pink: #f71ef4;
$border-color: rgba($grey, 0.5);

$font-family: 'Exo', sans-serif;
$base-font-size: 15px;
$base-color: $white;
$title-font-size: 23px;
$subttl-font-size: 15px;
$subttl-color: $grey;
$card-title-color: #c4c4c4;

$input-height: 38px;
$input-background: $black;
$input-color: $white;
$input-placeholder: rgba($white, 0.35);
$input-font-size: 15px;

$card-background: $dark-grey;
$card-padding: 25px 25px 30px;

$help-icon-color: #00a771;

$alert-background: $dark-grey;
