@import '~styles/vars';

.root {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  display: block;
  background-color: transparent;
  border: none;
  color: $white;
  text-align: left;
  letter-spacing: 3.1px;
  &.horizontal {
    display: flex;
    margin-top: 20px;
    button {
      margin-left: 5px;
    }
  }
  button {
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3.1px;
    color: $primary;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    img {
      margin-left: 10px;
    }
  }
}
