@import "~styles/vars";

.title {
  margin-bottom: 16px;
}

.step {
  margin-bottom: 40px;
  line-height: 1.2;
}

.formTitle {
  margin-bottom: 23px;
}

.formHint {
  margin-top: 23px;
  margin-bottom: 26px;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin-left: 9.36px;
}

.helpBlockSuccess {
  color: $primary;
}

.helpBlockError {
  color: $pink;
}