@import '~styles/vars';

.title {
  margin-bottom: 16px;
}

.titleWrap {
  position: relative;
}

.titleImg {
  position: absolute;
  top: -10px;
  left: -60px;
  z-index: -1;
}

.step {
  margin-bottom: 40px;
  line-height: 1.2;
}

.formTitle {
  margin-bottom: 23px;
}

.tip {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 3.1px;
  margin-bottom: 30px;
}
